@import "reset.css";
@import "components/top__row.css";
@import "components/clock.css";
@import "components/main.css";
@import "components/form.css";
@import "components/animation.css";
@import "components/display.css";
@import "components/todo.css";

body {
  background-image: url('../img/bg_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  animation: appear 2s ease-in-out;
}
