@keyframes disappear {
  from{
    opacity:1;
  }
  to{
    opacity:0;
  }
}

@keyframes appear {
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

.fade_out{
  animation: disappear 1s ease-in-out;
}

.fade_in{
  animation: appear 1s ease-in-out;
}