.css__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 300px;
    padding-bottom: 30px;
    align-items: center;
}
  
.css__form__message {
    font-size: 100px;
    font-weight: 500;
}

.css__input__form{
    width: 850px;
    height: 100px;
    background-color: inherit;
    border: none;
    text-align: center;
    color: white;
    font-size: 100px;
    border-bottom: 5px solid white;
}

.css__input__form:focus,
.css__input__form:active{
    outline:none;
}
  