.background__ul{
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 20px 20px;
}

.css__TODO {
  font-size: 25px;
  display: flex;
  margin-bottom: 10px;
}

.fa-square,
.fa-times-circle {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.fa-square:hover,
.fa-times-circle:hover{
  opacity: 1;
}

.css__TODO i,
.css__TODO span {
  margin-left: 10px;
}