.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 300px;
    padding-bottom: 30px;
  }
  
  .welcome__message {
    font-size: 100px;
    font-weight: 500;
  }


  